.about-page--active {
  overflow: hidden;
}

.about-page {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.95);
  z-index: 125;
  transform: scale(0.8);
  transition: all 150ms ease;
  @include respond-to('medium') {
    @include z-index('about');
  }

  .about-page--active & {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  &:hover {
    cursor: pointer;
  }

}


.about-modal {
  position: relative;
  height: 100%;
  overflow: auto;
}
.about-banner {
  margin-top: 52px;
  width: 100%;
  height: 400px;
  background: url('../img/zama_banner.jpg');
  background-size: cover;
  background-position: center 40%;
}
.about-content {

  min-height: 100%;
  &:hover {
    cursor: initial;
  }

  h2 {
    font-size: 3.6rem;
  }
  p {
    margin-bottom: 20px;
    font-size: 1.8rem;
  }
}
.about-des {
  padding: 40px;
  max-width: 750px;
  margin: 0 auto;
}


.citation {
  margin-bottom: 40px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 40px;
  li {
    margin-bottom: 20px;
  }
}