#narrative {
  position: relative;
  top: 252px;
  width: 100%;

  @include z-index('narrative');

  @include respond-to('medium') {
    top: 52px;
    width: 400px;
  }
}


.expand-map {
  position: fixed;
  top: 212px;
  width: 100%;
  display: block;
  background: teal;
  text-align: center;
  padding: 10px 0;
  color: #FFF;
  z-index: 50;

  @include respond-to('medium') {
    display: none;
  }
}

.blocks {
  width: 100%;
  

  @include respond-to('medium') {
    padding: 0 10px;
  }
}

.block {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 1px #CCC;
  background: #FFF;

  @include respond-to('medium') {
    margin: 10px 0;
  }
}