#narrative {
  position: relative;
  top: 250px;
  width: 100%;

  @include z-index('narrative');

  @include respond-to('medium') {
    top: 52px;
    width: 400px;
  }


  .expanded & {
    top: 100%;
  }
}


.expand-map {
  position: fixed;
  top: 210px;
  width: 100%;
  display: block;
  background: teal;
  text-align: center;
  padding: 10px 0;
  color: #FFF;
  z-index: 100;

  @include respond-to('medium') {
    display: none;
  }

  .expanded & {
    top: auto;
    bottom: 0;
  }
}

.blocks {
  width: 100%;
  margin-bottom: 200px;


  @include respond-to('medium') {
    padding: 0 10px;
  }
}



.block {
  position: relative;
  width: 100%;
  padding: 10px 10px 20px 10px;
  border-top: 3px solid $accent;
  border-radius: 3px;
  box-shadow: 1px 3px 8px -2px #333;
  background: #FFF;
  opacity: 0.7;
  transition: all 150ms ease;

  &:hover {
    border-top: 3px solid $accent;
  }

  @include respond-to('medium') {
    margin: 10px 0;
    padding: 10px;
  }
}
  .block__title {
    margin-bottom: 5px;
    font-size: 2rem;
  }
  .block__img {
    width: 100%;
  }

.active {
  opacity: 1;
}
.cover {
  min-height: 380px;
  background: url('../img/zama_cover.jpg');
  background-size: cover;
  background-position: center center;
  border: none;
  padding: 10px 0 20px 0;
  text-align: center;
  color: #FFF;
  display: table;

  svg {
    margin-top: 20px;
  }

  polygon {
    fill: #FFF;
  }

  &:hover {
    border: none;
  }

}
  .vcenter {
    display: table-cell;
    vertical-align: middle;
    position: relative;
  }
  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
  }