.nav {
  position: fixed;
  top: 52px;
  right: 0;
  display: block;
  width: 300px;
  height: 100%;
  background: #FFF;
  padding: 20px 0;
  text-align: left;
  counter-reset: item;
  @include z-index("nav");
  transform: translate3d(100%, 0, 0);
}
  .nav--active {
    transform: translate3d(0, 0, 0);
  }
  .nav__link {
    display: block;
    position: relative;
    color: #000;
    padding: 10px 20px 10px 70px;
    white-space: nowrap;
    transition: all 150ms ease;

    &:before {
      position: absolute;
      left: 20px;
      content: counter(item, lower-roman) '.';
      counter-increment: item;
      padding: 0 10px 0 0;
      display: block;

    }

    &:hover {
      background: #f8f8f8;
      color: $accent-hover;
      

    }
  }
