.topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background: #FFF;
  z-index: 150;
  padding: 0 10px;
  font-size: 1.5rem;

  svg {
    width: 15px;
    height: 15px;
  }

  @include respond-to('medium') {
      @include z-index("topbar");

      svg {
        width: 25px;
        height: 25px;
      }

  }
}
  .topbar__title {
    text-align: left;
    font-size: 1.5rem;

    @include respond-to('medium') {
      font-size: 2rem;
      text-align: center;
    }
  }

  .menu {
    position: absolute;
    top: 0;
    right: 0;
  }
    .menu__item {
      display: inline-block;
    }
      .menu__link {
        display: block;
        padding: 12px 10px;

        span {
          display: inline-block;
          vertical-align: top;
          margin-left: 5px;
          line-height: 2.5rem;
        }
      }