{{#each destinations}}
<section id='{{id}}' class="block">
  <h3 class="block__title">{{title}}</h3>
  <img src="{{imgSrc}}" alt="" class="block__img">
  <div>{{safe description}}</div>
</section>
{{/each}}